<div class="px-lg-5">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="input-group input-group-lg mb-3">
                    <input [formControl]="searchText" type="text" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="onSearch()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> Sort by:
                    {{selectedSortOption}} </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let option of sortOptions"
                        (click)="onChangeSort(option)">{{option}}</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4" *ngFor="let item of items">
            <div class="bg-white rounded shadow-sm">
                <div class="text-center">
                    <img [src]="item.imageUrl" height="250px" alt="" class="img-fluid item-image card-img-top c-pointer"
                        (click)="onClickBid(item.id)">
                </div>
                <div class="p-4 item-body">
                    <h5 class="text-dark item-name c-pointer" (click)="onClickBid(item.id)">{{item.name}}</h5>
                    <p class="small text-muted mb-0 item-des">{{item.description}}</p>
                    <h6 class="item-price">${{item.price}}</h6>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <ngb-pagination [collectionSize]="itemsCount" [(page)]="pageNo" [maxSize]="5" [pageSize]="pageSize"
        (pageChange)="onPageChange()" aria-label="Default pagination">
    </ngb-pagination>
</div>