<div class="container-fluid">
    <div class="row">
        <div *ngIf="item" class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center image-content">
                        <img class="image-width" alt="Bootstrap Image Preview" [src]="item.imageUrl" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h2> {{item.name}} </h2>
                    <hr>
                    <p> {{item.description}} </p>
                    <h5> Time left : {{ (daysLeft > 0) ? daysLeft + 'd' : '' }} <countdown [config]="countdownConfig">
                        </countdown>{{ (daysLeft > 0) ? 'h' : '' }} | {{ item.closingTime | date : 'short' }}
                    </h5>
                    <hr>
                    <div *ngIf="!isItemSoldOut">
                        <form [formGroup]="bidForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-lg mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input formControlName="price" type="number" class="form-control"
                                            [min]="maxBid.price + 1">
                                        <div class="input-group-append">
                                            <button [disabled]="bidForm.value.autoBid" class="btn btn-outline-primary"
                                                type="button" (click)="onChangeBid()">Place Bid</button>
                                        </div>
                                    </div>
                                    <p *ngIf="maxBid.userId == user.id">You have placed the highest bid (${{
                                        maxBid.price }}) at the moment</p>
                                    <p *ngIf="maxBid.userId != user.id">
                                        Enter ${{ maxBid.price + 1 }} or more
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input mdbCheckbox class="form-check-input checkbox-lg" type="checkbox"
                                            id="flexCheckCheckedDisabled" formControlName="autoBid"
                                            (change)="onChangeAutoBid()" />
                                        <label class="form-check-label" for="flexCheckCheckedDisabled">
                                            Auto Bid
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h5 class="text-danger" *ngIf="isItemSoldOut">Item has been sold out! </h5>
                </div>
            </div>
        </div>
    </div>
</div>